<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
        style="font-family: Arial, Helvetica, sans-serif;"
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios">
      </ion-back-button>
      </ion-buttons>
      <ion-title class="tituloHeader">
        Fotos buenas
         <ion-icon class="ionIcon" src="./assets/sign-out-alt-solid.svg" (click)="salir()"></ion-icon>
       </ion-title>
    </ion-toolbar>
  </ion-header> 



<ion-content>
  <ion-spinner name="lines" *ngIf="mostrar" class="unSpinner"></ion-spinner>
  <ion-button class="btnFoto" (click)="sacarFoto()">Tomar Foto</ion-button>
  <ion-button class="btnFoto" (click)="verListadoFotosLindas()">Listado de fotos</ion-button>
  <ion-button class="btnFoto" (click)="verListadoMisFotosLindas()">Listado mis fotos</ion-button>
  <ion-button class="btnFoto" (click)="verGrafico()">Gráfico</ion-button>
</ion-content>
